* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}
/* .test {
  background-color: #f00;
  padding: 100px;
  min-width: 1000px;
} */

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 130rem;
  /* background-color: plum; */
  margin: 0 auto;
  align-items: center;
  gap: 9.6rem;
}

.heading-primary {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.1;
  color: #333;
  letter-spacing: -0.5;

  margin-bottom: 3.2rem;
}

.section-hero {
  background-color: #fdf2e9;
  padding: 9.6rem 0;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  max-width: 100%;
}

.btn:link,
.btn:visited {
  display: inline-block;
  background-color: #e67e22;
  color: #fff;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  text-decoration: none;
  border-radius: 9px;
}
